@tailwind base;
@tailwind components;
@tailwind utilities;


.weather-container.light {
    background-color: white;
    color: black;
  }
  
  .weather-container.dark {
    background-color: black;
    color: white;
  }
  
  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }